*{
    margin:0;
    padding:0;

}
body{
    margin:0;
    padding:0;
    background-color:lightgray;
}
.storage{
color:darkslateblue;
border:2px solid black;
justify-content: space-around;
position:relative;
width:500px;
left:500px;
top:20px;
padding:10px;
}

canvas {
    height: 350px;
    margin-top: 80px;
    margin-left: 80px;
}
